.DS_Store
*.tfvars
.terraform
*.tfstate*
*.lock.hcl
*.log
.env
DEPLOYMENT_NOTES.md

compose.yml
.vscode
reports
env
oss-output
kubeconfig_*
docker-compose.yml.bak
docker-compose.yml.bak2
docker-compose.yml.bak3
docker-compose.yml.broken-5services
docker-compose.yml.save
ui-block.yml
